<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-PNLF_CoffeeLake.aml</string>
			<string>SSDT-THUNDERBOLT.aml</string>
			<string>SSDT-BATT.aml</string>
			<string>SSDT-GPRW.aml</string>
			<string>SSDT-ALS0.aml</string>
			<string>SSDT-XOSI.aml</string>
			<string>SSDT-FN.aml</string>
			<string>SSDT-USTP.aml</string>
		</array>
		<key>DropTables</key>
		<array>
			<dict>
				<key>TableId</key>
				<string>_PNLFCFL</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>NDGP</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>bat0</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>XPRW</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>_ALS0</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>XOSI</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>TPAD</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>THUNDERBOLT.aml</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>FixHeaders</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>SSDT: change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Audio: change HDAS to HDEF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>IGPU: change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TUVJXw==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>IGPU: change MEI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>IGPU: change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNYUA==</data>
					<key>Replace</key>
					<data>WENYUA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Battery: change ECXP to XCXP</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0JJRg==</data>
					<key>Replace</key>
					<data>WEJJRg==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>Battery: change _BIF to XBIF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0JTVA==</data>
					<key>Replace</key>
					<data>WEJTVA==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>Battery: change _BST to XBST</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNCRQA=</data>
					<key>Replace</key>
					<data>WENCRQA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Battery: change ECBE to XCBE</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R1BSVwJwaA==</data>
					<key>Replace</key>
					<data>WFBSVwJwaA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Instant Wake: change GPRW to XPRW</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>VVNUUAg=</data>
					<key>Replace</key>
					<data>WFNUUAg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>I2C: change USTP, 8 to XSTP, 8</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>i1NCRkk=</data>
					<key>Replace</key>
					<data>i1NCRlM=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>I2C: change SBFI to SBFS</string>
					<key>TgtBridge</key>
					<data>VFBBRA==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>hFNCRkJTQkZJAA==</data>
					<key>Replace</key>
					<data>hFNCRkJTQkZTAA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>I2C: change return value to SBFS</string>
					<key>TgtBridge</key>
					<data>VFBBRA==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExNA==</data>
					<key>Replace</key>
					<data>WFExNA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Fn: change _Q14 to XQ14</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExNQ==</data>
					<key>Replace</key>
					<data>WFExNQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Fn: change _Q15 to XQ15</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1NUQQ==</data>
					<key>Replace</key>
					<data>WFNUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>RTC: change _STA to XSTA</string>
					<key>TgtBridge</key>
					<data>UlRDTw==</data>
				</dict>
			</array>
			<key>SuspendOverride</key>
			<true/>
			<key>Rtc8Allowed</key>
			<true/>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixLAN</key>
				<true/>
				<key>FixUSB</key>
				<true/>
				<key>AddDTGP</key>
				<true/>
				<key>FixHDA</key>
				<false/>
				<key>FixIPIC</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>AddPNLF</key>
				<false/>
				<key>Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FixAirport</key>
				<true/>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
		</dict>
		<key>AutoMerge</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Timeout</key>
		<integer>-1</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>darkwake=0 abm_firstpolldelay=16000 debug=0x100 nvda_drv=1 kext-dev-mode=1</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Windows</string>
					<key>Disabled</key>
					<false/>
					<key>Title</key>
					<string>Windows</string>
					<key>Ignore</key>
					<false/>
				</dict>
				<dict>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Hidden</key>
					<false/>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>ShowOptimus</key>
		<false/>
		<key>Theme</key>
		<string>Mojave</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C4</key>
		<true/>
		<key>C6</key>
		<true/>
		<key>C2</key>
		<true/>
		<key>TurboDisable</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>SetIntelBacklight</key>
		<false/>
		<key>FakeID</key>
		<dict>
			<key>#IntelGFX</key>
			<string>0x59168086</string>
			<key>#Kaby Lake-Comment</key>
			<string>To avoid automatic Clover fake device-id (Skylake) injection</string>
		</dict>
		<key>ForceHPET</key>
		<false/>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<integer>29</integer>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>device-id</key>
				<data>cKEAAA==</data>
				<key>layout-id</key>
				<data>WAAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,3</string>
				<key>device_type</key>
				<string>Network controller</string>
				<key>model</key>
				<string>Wireless-AC 9560 [Jefferson Peak]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>AAPL,GfxYTile</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi-dividers-fix</key>
				<data>AQAAAA==</data>
				<key>AAPL,ig-platform-id</key>
				<data>AACbPg==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>device-id</key>
				<data>mz4AAA==</data>
				<key>model</key>
				<string>Intel UHD Graphics 630 (Mobile)</string>
				<key>enable-lspcon-support</key>
				<data>AQAAAA==</data>
				<key>device_type</key>
				<string>VGA compatible controller</string>
			</dict>
		</dict>
		<key>HDMIInjection</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>NameEH00</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>#ig-platform-id</key>
		<string>0x3e9b0000</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>#EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>IOBufferCopyController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>disable IOBufferCopyController (Credit by DalianSky)</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable AppleIntelLpssI2C (credit by Coolstar)</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable AppleIntelLpssI2CCOntroller (credit by Coolstar)</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g32IDw+DpwQAAA==</data>
				<key>Comment</key>
				<string>disable port limit in XHCI kext (credit RehabMan, based prior PMHeart patch)</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g32ID5CQkJCQkA==</data>
				<key>MatchOS</key>
				<string>10.13.6</string>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>Replace</key>
				<data>igKEwOtE</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>MatchOS</key>
				<string>10.13.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>Replace</key>
				<data>igKEwOtC</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>MatchOS</key>
				<string>10.14.x</string>
			</dict>
		</array>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
			<string>\System\Library\Extensions\IO80211Family.kext</string>
		</array>
		<key>KernelLapic</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>jgfSNVGa</data>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>Board-ID</key>
		<string>Mac-LLLLLLLLLLLLL</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MBP151.88Z.F000.B00.2007121441</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x32</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>LLLLLLLLLLLLL</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro15,1</string>
		<key>SmUUID</key>
		<string>AB5E7D08-B8D4-4DBC-8F71-LLLLLLLLLLLLL</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1539.0.0.0.1</string>
		<key>SerialNumber</key>
		<string>LLLLLLLLLLLLL</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>07/12/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>NvidiaWeb</key>
		<true/>
		<key>CustomUUID</key>
		<string>85C26CBF-FD49-4206-9A31-0D7B1B860201</string>
		<key>InjectSystemID</key>
		<true/>
		<key>InjectKexts</key>
		<string>No</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>KernelCache</key>
		<string>Auto</string>
	</dict>
	<key>Comment</key>
	<string>This file is for 10.14.x with native CoffeeLake support</string>
</dict>
</plist>